#!/bin/bash

# Missing
# flite --enable-libflite
# libjack --enable-libjack
# rav1e --enable-librav1e
# zvbi --enable-libzvbi

# Errors
## undefined symbols requires Libs.private in .pc
# libiec61883  --enable-libiec61883 (ld.lld: error: unable to find library -lavc1394, -lrom1394)
#              --enable-opengl
#              --enable-omx
# pocketsphinx --enable-pocketsphinx (fatal error: 'pocketsphinx/pocketsphinx.h' file not found)
# libcdio      --enable-libcdio (fatal error: 'cdio/cdda.h' file not found)
# sdl2         --enable-sdl2 (Package sdl2 was not found in the pkg-config search path.)
#
# codec2       --enable-libcodec2 (ld.lld: error: duplicate symbol: lpc_to_lsp in libspeex + codec2)

# Runtime errors:
# libpulse     --enable-libpulse  : no static lin


dep_openssl='openssl libssh'
opt_openssl='--enable-openssl --enable-libssh'

dep_gnutls='gnutls libzmq'
opt_gnutls='--enable-gnutls --enable-libzmq'

argList=( android-armv8 --shared --bin --force )
dep='chromaprint ladspa aom libass libbluray libbs2b libcaca
 dav1d fontconfig freetype
 fribidi libgme libgsm lame libmysofa
 openjpeg libopenmpt opus librabbitmq librist librubberband
 shine snappy soxr speex libsrt svtav1
 theora twolame vidstab vorbis vpx libwebp x265
 libxml2 xvidcore zimg openal
 libjxl vmaf libdrm frei0r x264 libplacebo 
 libqrencode quirc libssh openssl glslang xeve xevd'
dep+=" ${dep_openssl}"
#gnutls is incompatible with gnutls duplicate symbols
extlibs='--enable-chromaprint --enable-ladspa --enable-libaom
 --enable-libass --enable-libbluray --enable-libbs2b --enable-libcaca
 --enable-libdav1d --enable-libfontconfig --enable-libfreetype
 --enable-libfribidi --enable-libgme --enable-libgsm --enable-libmp3lame
 --enable-libmysofa --enable-libopenjpeg --enable-libopenmpt --enable-libopus
 --enable-librabbitmq --enable-librist --enable-librubberband
 --enable-libshine --enable-libsnappy --enable-libsoxr --enable-libspeex
 --enable-libsrt --enable-libsvtav1 --enable-libtheora --enable-libtwolame
 --enable-libvidstab --enable-libvorbis --enable-libvpx --enable-libwebp
 --enable-libxml2 --enable-libxvid --enable-libzimg
 --enable-libjxl --enable-libvmaf --enable-frei0r
 --enable-libx265 --enable-libx264 --enable-libplacebo
 --enable-libqrencode --enable-libquirc
 --enable-openal --enable-opencl --enable-libdrm --disable-sndio
 --enable-mediacodec --enable-libglslang --enable-libxeve --enable-libxevd'
 extlibs+=" ${opt_openssl}"

extraversion='n7.1+NDK_STD'
bra='n7.1-dev^{}'