#!/bin/bash

lib='@lib@'
dsc='@desc@'
lic='@lic@'
src="@src@"
#sub=''
#src_opt=''
#src_rel=true|false

cfg='@cfg@'

dev_bra='master'
dev_vrs=''
pkg_deb='@pkg_deb@'
eta='0'

lst_inc=''
lst_lib=''
lst_bin=''
lst_lic='LICENSE AUTHORS'
lst_pc=''

# cpu av8 av7 x86 x64
# NDK  .   .   .   .  clang
# GNU  .   .   .   .  clang/gcc
# WIN  .   .   .   .  clang/gcc
